@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.bg-image{
  background-image: "../assets/background.jpg";
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}